
@import 'style';

@media (min-width:768px){
    .logo{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .logo .logo-text{
        display: inline-flex;
        /* align-items: center; */
        flex-direction: column;
        margin-left: 20px;
    }
    
    .logo .logo-text h2,  .logo .logo-text span{
        font-size: 20px;
        color: #fff;
        text-align: left;
    }
    .header{
        width: 100%;
        min-height: 110vh;
        background-position: left center;
    }
    .header-content .content {
        padding-top: 150px;
    }
    .header-content .content h1{
        font-size: 50px;
        line-height: 72px;
        width: 95%;
        height: 216px;
    }
    .btnFlex{
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    .btnFlex .btnGreen{
        margin-left: 30px;
    }
    .header .opened{
         width: 58%;
         z-index: 10;
     }
     .header{
        min-height: 750px;
        width: 100%;
        background-image: url('../imgs/main/768.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position:  top;
    }
    .header-content .bg{
        display: block;
        background: #000000;
        opacity: 0.8;
        height: 750px;

    }
}


@media (min-width:1440px){

    .navbar .icons .icons-box ion-icon{
        font-size: 28px ;
    }
    .header-content{
        height: 650px;
    }
    .header-content .content {
        padding-top: 150px;
    } 
    .header-content .content h1{
        font-size: 50px;
        line-height: 72px;
        width: 70%;
        height: 216px;
    }
    .header{
        min-height: 705px;
        background-position:  center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header-content .bg{
        display: block;
        background: #000000;
        opacity: 0.8;
        height: 705px;

    }

}

@media (min-width:1920px){
    .header-content{
        position: relative;
        width: 100%;
        height: 100vh;
        background-image: url(../imgs/main/MAIN.png);
        background-repeat: no-repeat;
    }
}